<a href="https://colab.research.google.com/github/alan061/Hello-world/blob/main/Aula_3_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Mensagens de Boas vindas
print(" Bem vindo a classificação de filmes!")
print(" Voçê tem cinco filmes para classificar!")
print("Digite '0' a qualquer momento para parar.\n" ) # Corrected typo

# Define a list of movies to be rated
fimes = ["Filme 1", "Filme 2", "Filme 3", "Filme 4", "Filme 5"] # Added definition for fimes

# Loop para iterar sobre cada filme da lista
for filme in fimes : # Assuming 'fimes' is a list defined elsewhere
    # Solicita a classifcação ao usuário
    classificacao = input(f"Como classificar o  {filme}?, de 1 a 5, ( Ou zero para parar): ")

    # Verifica se o usuário deseja parar
    if classificacao == '0':
        print("Que pena que voçê nãi irá classificar mais os filmes.") # Corrected typo
        break

    # Converte a classificação para um número inteiro
    classificacao = int(classificacao)

    # Verifica se a classificação tá dentro de um intervalo valído
    if classificacao < 1 or classificacao > 5 :
        print("Por favor digite uma classificação válida de 1 a 5.")

    else:
      # Exibe a classificação e passa para o proximo filme
        print(f"Voçê classificou o '{filme}' com {classificacao} estrelas.\n") # Corrected f-string and typo

print("Obrigado por classificar os filmes!")

 Bem vindo a classificação de filmes!
 Voçê tem cinco filmes para classificar!
Digite '0' a qualquer momento para parar.

Como classificar o  Filme 1?, de 1 a 5, ( Ou zero para parar): 2
Voçê classificou o 'Filme 1' com 2 estrelas.

Como classificar o  Filme 2?, de 1 a 5, ( Ou zero para parar): 6
Por favor digite uma classificação válida de 1 a 5.
Como classificar o  Filme 3?, de 1 a 5, ( Ou zero para parar): 6
Por favor digite uma classificação válida de 1 a 5.
Como classificar o  Filme 4?, de 1 a 5, ( Ou zero para parar): 0
Que pena que voçê nãi irá classificar mais os filmes.
Obrigado por classificar os filmes!

In [5]:
numeros = [1,2,3,4,5]
numeros

[1, 2, 3, 4, 5]

In [6]:
for num in numeros:
    print(num)

1
2
3
4
5

In [ ]:
while

In [7]:
numero = int(input("Digite um número(ou 0 para sair:)"))
while numero != 0:
   if  numero % 2 == 0:
    print("O número é par.")
   else:
    print("O número é impar.")
   numero = int(input("Digite um número(ou 0 para sair:)"))

Digite um número(ou 0 para sair:)1
O número é impar.
Digite um número(ou 0 para sair:)2
O número é par.
Digite um número(ou 0 para sair:)6
O número é par.
Digite um número(ou 0 para sair:)5
O número é impar.
Digite um número(ou 0 para sair:)0

In [ ]:
Range lembre- se que range começa em 0

In [8]:
for x in range(5):
    print(x)

0
1
2
3
4

In [9]:
for y in range(2,7):
  print(y)

2
3
4
5
6

In [10]:
for z in range(1,11,2):
  print(z)

1
3
5
7
9

In [13]:
for numero in range (10,11):
    if numero % 2 == 0:
      print(f"O primeiro número par encontrado é: {numero}")
      break

O primeiro número par encontrado é: 10

In [17]:
for numero in range(4,11):
    if numero == 5:
        continue
    print(numero)

4
6
7
8
9
10