<a href="https://colab.research.google.com/github/alan061/Hello-world/blob/main/Aula_1_Un_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aplicação de banco de dados com python

In [151]:
import sqlite3


# 1 - Conectar ao banco de dados ou criar um novo
# usando a função conect do Sqlite3 para te conectar a um banco de dados SQlite
#Chamado 'exemplo.db', se o banco de dados não existir ele será criado automamticamente

conn = sqlite3.connect('exemplo.db')

# 2 - Criar um objeto cursor
#O cursor é usado  pra  executar comandos SQL no banco de dados
#Ele atua como uma especie de ponteiro que percorre os resultados de consulta
cursor = conn.cursor()

# 3 - Definir o comando SQL para cria a tabela
# Define uma string create_table  que conte um comando SQL para cria uma tabela chamada produtos

# Essa tabela tera quatro colunas : Id( Chave primaria),nome ( texto), preco(numero real) e estoque( numero inteiro)
 # 'IF NOT EXISTS' é usado para evitar erros se a tabela já existir

create_table = textwrap.dedent("""
CREATE TABLE IF NOT EXISTS produtos(
Id INTEGER PRIMARY KEY ,
Nome TEXT NOT NULL,
Preco REAL NOT NULL,
Estoque INTEGER
);
""")


# Usa o metodo executa do objeto cursor para executar o comando SQL definido anteriomente e criar a tabela no banco de dados
# 4 executa o comando SQL para criar a tabela
cursor.execute(create_table)

# Comfirma as alteraçoes (commit)
#Após a execução bem sucedida do comando SQL
# Isso garante que as alteraç~es seja efetivamentes aplicadas
conn.commit()

# 6 - Fechar a conexão com o banco de dados
# Finalmente vc usa o metodo close para encerrae a conexão com o banco de dados
# E uma pratica recomendada fechar a conexão após a conclusao das operações, para liberar recurso e evitar futuros problemas de concorrência

conn.close()

In [152]:
#adicionar produto
import sqlite3
conn = sqlite3.connect('exemplo.db') # Corrected database connection
cursor = conn.cursor()
# Dados do novo produto
novo_produto = ('Camiseta', 29.99, 50)

# Comando SQL para inserir novo produto a tabela
inserir_produto = "INSERT INTO produtos (nome, preco, estoque) VALUES (?, ?, ?)"
cursor.execute(inserir_produto, novo_produto)
# Confirmando as alterações
conn.commit()
# Fechando a conexão com o banco de dados
conn.close()

In [153]:
# visualizar esse produto
# conectando ao banco de dados
conn = sqlite3.connect('exemplo.db')
cursor = conn.cursor()
# Comando SQL para selecionar todos os produtos
selecionar_produtos = "SELECT * FROM produtos"
cursor.execute(selecionar_produtos)
# obtendo todos os produtos e existindo-os
produtos = cursor.fetchall()
for produto in produtos: # Changed prdutos to produto
    print(produto)
# Fechando a conexão com o banco de dados
conn.close()

(1, 'Camiseta', 29.99, 50)

In [154]:
# Atualizar produtos
import sqlite3
conn = sqlite3.connect('exemplo.db')
cursor = conn.cursor()
# Dados
novo_preco = 9.99
produto_id = 1 # suponhamos que queiramos atualizar o produto com ID 1
# Comando SQL para atualizar o preco do produto
atualizar_preco = "UPDATE produtos SET preco = ? WHERE id = ?"
cursor.execute(atualizar_preco, (novo_preco, produto_id))
conn.commit()
conn.close()

In [155]:
# Excluir produto da lista
import sqlite3
import textwrap # Import textwrap here
conn = sqlite3.connect('exemplo.db')
cursor = conn.cursor()




# Id do produtor a ser excluido
produto_id = 1
# Comando SQL para excluir o produto
excluir_produto = "DELETE FROM produtos WHERE id = ?"
cursor.execute(excluir_produto, (produto_id,))
conn.commit()
conn.close()

In [156]:
from sqlite3.dbapi2 import Cursor
# APRICANDO A AULA

import sqlite3
# Criação de tabela e inserção de dados de exemplo
conn = sqlite3.connect('contatos.db')
cursor = conn.cursor()
cursor.execute("""
CREATE TABLE IF NOT EXISTS contatos (
id INTEGER PRIMARY KEY,
nome TEXT NOT NULL,
email TEXT NOT NULL,
telefone TEXT NOT NULL
);
""")

dados_exemplo = [
    ('joao', 'joao@email.com', '123456789'),
    ('maria', 'maria@email.com', '987654321'),
    ('pedro', 'pedro@email.com', '555555555'),
    ('ana', 'ana@email.com', '111111111'),
    ('carlos', 'carlos@email.com', '222222222')
]
cursor.executemany("""
INSERT INTO contatos (nome, email, telefone)
VALUES (?, ?, ?);
""", dados_exemplo)
conn.commit()


# Leitura e exibição de contatos

cursor.execute("""
SELECT * FROM contatos;
""")
contatos = cursor.fetchall()
for contato in contatos:
    print(contato)

# Atualização do contato de telefone do ID2

novo_telefone = '970033817'
contato_id = 2
cursor.execute("""
UPDATE contatos SET telefone = ? WHERE id = ?;
""", (novo_telefone, contato_id))
conn.commit()
# deletar contato

contato_id_para_deletar = 5
cursor.execute("""
DELETE FROM contatos WHERE id = ?;
""", (contato_id_para_deletar,))
conn.commit()

# Fechar a conexão com o banco de dados
conn.close()

(1, 'joao', 'joao@email.com', '123456789')
(2, 'maria', 'maria@email.com', '970033817')
(3, 'pedro', 'pedro@email.com', '555555555')
(4, 'ana', 'ana@email.com', '111111111')
(6, 'maria', 'maria@email.com', '987654321')
(7, 'pedro', 'pedro@email.com', '555555555')
(8, 'ana', 'ana@email.com', '111111111')
(9, 'carlos', 'carlos@email.com', '222222222')
(10, 'joao', 'joao@email.com', '123456789')
(11, 'maria', 'maria@email.com', '987654321')
(12, 'pedro', 'pedro@email.com', '555555555')
(13, 'ana', 'ana@email.com', '111111111')
(14, 'carlos', 'carlos@email.com', '222222222')