<a href="https://colab.research.google.com/github/alan061/Hello-world/blob/main/AULA_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
FOR

In [ ]:
numeros = [1,2,3,4,5]
numeros

In [ ]:
numeros

NameError: name 'numeros' is not defined

In [ ]:
for num in numeros:
    print(num)

In [ ]:
while

In [ ]:
numero = int(input("Digite um número(ou 0 para sair:)"))
while numero != 0:
   if  numero % 2 == 0:
    print("O número é par.")
   else:
    print("O número é impar.")
   numero = int(input("Digite um número(ou 0 para sair:)"))

O número é par.
O número é impar.
Digite um número(ou 0 para sair:)2
O número é par.

In [ ]:
Range lembre- se que range começa em 0

In [ ]:
for x in range(5):
    print(x)

0
1
2
3
4

In [ ]:
for y in range(2,7):
  print(y)

2
3
4
5
6

In [ ]:
for z in range(1,11,2):
  print(z)

In [ ]:
for numero in range (1,11):
    if numero % 2 == 0
      print("O primeiro número par encontrado é. numero")
      break

In [ ]:
for numero in range(1,11):
    if numero == 5:
    continue
    print(numero)

In [ ]:
#Listas de filmes para classificação
filme = [Filme 1, Filme 2 Filme 3, Filme 4, Filme 5]