<a href="https://colab.research.google.com/github/alan061/Hello-world/blob/main/Aula2_UN2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

OBJETOS DO TIPO SET

In [159]:
#add(), in remove()

#criando um conjunto vazio
meu_conjunto = set()

# Adicionando elementos ao conjunto
meu_conjunto.add(10)
meu_conjunto.add(21)
meu_conjunto.add(25)

#Imprimindo conjunto
print("Conjunto após adicionar elementos", meu_conjunto)

# Verificando se um elemento está no conjunto
elemento = 10
if elemento in meu_conjunto:
    print(f"{elemento} está no conjunto.")
else:
   print(f"{elemento} não está no conjunto.")

# Eliminando um elemento do conjunto using discard()
meu_conjunto.discard(21)

#imprimindo elemento atualiazado
print("Conjunto após remover elemento", meu_conjunto)

Conjunto após adicionar elementos {25, 10, 21}
10 está no conjunto.
Conjunto após remover elemento {25, 10}

OBJETOS DO TIPO MAPPING

In [160]:
# Criando um diconario vazio, seguido de atribuição de chaves e valores

dici_1 = {}
dici_1['nome'] = 'Maria'
dici_1['idade'] = 25

dici_1

{'nome': 'Maria', 'idade': 25}

In [161]:
# Exemplo2 , criação de um dicionario com pares chaves : valor
dici_2 = {'nome': 'Maria', 'idade': 25}
dici_2

{'nome': 'Maria', 'idade': 25}

In [162]:
# Exemplos3 criação de um dicionario com lista tupla representando pares chave: valor
dici_3 = dict([('nome', 'Maria'), ('idade', 25)])
dici_3

{'nome': 'Maria', 'idade': 25}

In [174]:
# Exemplo4 criação de um dicionario usando a função built-in zip(), e duas lista, uma para as chaves e outras para os valores
dici_4 = dict(zip(['nome', 'idade'], ['Maria', 25]))
dici_4

{'nome': 'Maria', 'idade': 25}

In [169]:
# Teste se todas as construções terminam em objetos iguais

In [178]:
 print(dici_1 != dici_2 == dici_3 == dici_4)

False

In [182]:
# Importe a biblioteca NUMPY
import numpy as np

# Crie um array numpy de numeros inteiros
my_array = np.array([1, 2, 3, 4, 5])

# Imprima o array
print("Array_original")
print(my_array)

Array_original
[1 2 3 4 5]

In [184]:
# Realize operaçoes matematicas com array
squared_array = my_array ** 2  # Eleva cada elemnto ao quadrado
print("Array ao quadrado")
print(squared_array)

Array ao quadrado
[ 1  4  9 16 25]

In [185]:
sum_of_elements = np.sum(my_array)  # Calcula a soma dos elementos
print("Soma dos elementos")
print(sum_of_elements)

Soma dos elementos
15

In [230]:
# Acesse elementos do array
element_at_index_2 = my_array[2]  # Acessa o elemento na posição 2
print("Elemento na posição 2")
print(element_at_index_2)

Elemento na posição 2
3

In [232]:
# Aplicando aula
# Importe as bibliotecas necessarias
import numpy as np
# Dados dos participantes
 participantes  = [

   { "nome": "Alice",
    "localização": "EUA" ,
    "afiliação": "Universidade A",
    "interesses": ["Fisica", "Astronomia"]
    },
    {
     "nome": "Bob",
     "localização": "Brasil" ,
     "afiliação": "Instituto B",
     "interesses": ["Biologia", "Astronomia"]
    },
    {
     "nome": "Charlie", # Missing comma here
     "localização": "India" ,
     "afiliação": "Instituto C",
     "interesses": ["Quimica", "Engenharia"] }
 ]

In [233]:
# Usando Sets para identificar diferentes  regiões dos participantes
regioes = {participante["localização"] for participante in participantes}
print("Regiões dos participantes")
print(regioes)

Regiões dos participantes
{'India', 'Brasil', 'EUA'}

In [236]:
# Usando dicionario para categorizar afiliaçoes
afiliações = {}
for participante in participantes:
    afiliacao = participante["afiliação"] # Corrected key name
    if afiliacao not in afiliações:
        afiliações[afiliacao] = []
    afiliações[afiliacao].append(participante["nome"])

In [244]:
afiliações

{'Universidade A': ['Alice'],
 'Instituto B': ['Bob'],
 'Instituto C': ['Charlie']}

In [245]:
# Usando nupy para analisar as areas de interesses
from collections import Counter

area_de_interesse = np.array([interesse for participante in participantes for interesse in participante["interesses"]])
interesse_unicos, contagem = np.unique(area_de_interesse, return_counts=True)
area_mais_populares = interesse_unicos[np.argmax(contagem)]

In [246]:
# Resultados
print("Regioes dos participantes", regioes)
print("Afiliaçoes dos participantes", )
for afiliacao, nomes in afiliações.items():
    print(f"{afiliacao}: {', '.join(nomes)}")
print("Area de interesse mais popular", area_mais_populares)

Regioes dos participantes {'India', 'Brasil', 'EUA'}
Afiliaçoes dos participantes
Universidade A: Alice
Instituto B: Bob
Instituto C: Charlie
Area de interesse mais popular Astronomia

In [247]:
afiliacao

'Instituto C'

In [248]:
interesses

NameError: name 'interesses' is not defined